@model WebArchivProject.Models.DTO.DtoBookEdit
@using static WebArchivProject.Helper.StringConstant

<div class="row">
    <div class="col-sm-1 col-md-1"></div>
    <div class="col-sm-10 col-md-10">
        <form method="post" asp-page-handler="EditBook">
            <div class="card-body">
                @if (Model.Authors != null && Model.Authors.Count > 0)
                {
                    @for (int i = 0; i < Model.Authors.Count; i++)
                    {
                        <div class="form-group row author-row mb-sm-1">
                            <label class="col-md-3 col-form-label" for="author">Автор @(i+1)</label>
                            <div class="col-md-3 author-field">
                                <input class="form-control form-control-sm my-lang-input-n"
                                       type="text"
                                       asp-for="@Model.Authors[i].NameUa"
                                       value="@Model.Authors[i].NameUa"
                                       placeholder="Ім'я українською.."
                                       required>
                            </div>
                            <div class="col-md-3 author-field">
                                <input class="form-control form-control-sm my-lang-input-n"
                                       type="text"
                                       asp-for="@Model.Authors[i].NameRu"
                                       value="@Model.Authors[i].NameRu"
                                       placeholder="Ім'я російською..">
                            </div>
                            <div class="col-md-3 author-field">
                                <input class="form-control form-control-sm my-lang-input-e"
                                       type="text"
                                       asp-for="@Model.Authors[i].NameEn"
                                       value="@Model.Authors[i].NameEn"
                                       placeholder="Ім'я англійською..">
                            </div>
                        </div>
                    }
                }
                <div class="form-group row mb-sm-1">
                    <label class="col-md-3 col-form-label" asp-for="Name"></label>
                    <div class="col-md-9">
                        <input type="hidden" asp-for="@Model.Id" value="@Model.Id"/>
                        <input class="form-control form-control-sm"
                               type="text"
                               asp-for="@Model.Name"
                               value="@Model.Name"
                               placeholder="Ввведіть назву публікації.."
                               required>
                    </div>
                </div>
                <div class="form-group row mb-sm-1">
                    <label class="col-md-3 col-form-label" asp-for="Year"></label>
                    <div class="col-md-9">
                        <input class="form-control form-control-sm my-count-input"
                               type="text"
                               asp-for="@Model.Year"
                               value="@Model.Year"
                               placeholder="Ввведіть рік публікації.."
                               required>
                    </div>
                </div>
                <div class="form-group row mb-sm-1">
                    <div class="col-md-3"></div>
                    <div class="col-md-4 col-form-label">
                        <div class="form-check form-check-inline mr-1">
                            <input class="form-check-input"
                                   data-target="form-control-sm"
                                   id="_book_type_switcher"
                                   type="radio"
                                   value="@BOOK"
                                   name="inline-r"
                                   checked>
                            <label class="form-check-label">Книга</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-form-label">
                        <div class="form-check form-check-inline mr-1">
                            <input class="form-check-input"
                                   data-target="form-control-sm"
                                   id="_method_type_switcher"
                                   type="radio"
                                   value="@METHOD"
                                   name="inline-r">
                            <label class="form-check-label">Методичка</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-sm-1">
                    <label class="col-md-3 col-form-label">Видавництво</label>
                    <div class="col-md-9">
                        <input class="form-control form-control-sm"
                               type="text"
                               asp-for="@Model.Issuer"
                               value="@Model.Issuer"
                               required
                               placeholder="Введіть назву видавництва..">
                    </div>
                </div>
                <div class="form-group row mb-sm-1">
                    <label class="col-md-3 col-form-label">Місто</label>
                    <div class="col-md-9">
                        <input class="form-control form-control-sm"
                               type="text"
                               asp-for="@Model.City"
                               value="@Model.City"
                               required
                               placeholder="Ввведіть назву міста..">
                    </div>
                </div>
                <div class="form-group row mb-sm-1">
                    <label class="col-md-3 col-form-label">Кількість сторінок</label>
                    <div class="col-md-9">
                        <input class="form-control form-control-sm my-count-input"
                               type="text"
                               asp-for="@Model.MaxPageCount"
                               value="@Model.MaxPageCount"
                               required
                               placeholder="Ввведіть кількість сторінок..">
                    </div>
                </div>
                <div class="form-group row mb-sm-1">
                    <label class="col-md-3 col-form-label">Тип книги</label>
                    <div class="col-md-9" id="_book_or_method_select">
                        @await Html.PartialAsync("_Select_For_BookItem", "form-control-sm")
                    </div>
                </div>
                <button class="btn btn-block btn-success mb-3"
                        type="submit">
                    Змінити
                </button>
            </div>
        </form>
    </div>
    <div class="col-sm-1 col-md-1"></div>
</div>
