@model WebArchivProject.Models.DTO.DtoStartItem
@inject WebArchivProject.Contracts.IServStartItems _startItems
@{ 
    var firstAuthor = _startItems?.StartItem?.Authors?.FirstOrDefault();
}

<div class="form-group row">
    <label class="col-md-2 col-form-label" for="author">Автор</label>
    <div class="col-md-3">
        <input class="form-control"
               type="text"
               value="@firstAuthor.NameUa"
               asp-for="@Model.Authors[0].NameUa"
               placeholder="Ім'я українською..">
    </div>
    <div class="col-md-3">
        <input class="form-control"
               type="text"
               value="@firstAuthor.NameRu"
               asp-for="@Model.Authors[0].NameRu"
               placeholder="Ім'я російською..">
    </div>
    <div class="col-md-3">
        <input class="form-control"
               type="text"
               value="@firstAuthor.NameEn"
               asp-for="@Model.Authors[0].NameEn" placeholder="Ім'я англійською..">
    </div>
    <input type="hidden"
           value="true"
           asp-for="@Model.Authors[0].IsFirst" />
    <div class="col-md-1" id="_add_authors_row">
        <svg class="c-icon plus-icon my-point-link">
            <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-plus"></use>
        </svg>
    </div>
</div>