<!-- Частичное представление модального окна поиска книг -->
@model WebArchivProject.Models.SearchFilters.BooksComboFilters
@using static WebArchivProject.Helper.StringConstant

<div class="modal-dialog modal-lg modal-success" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Фільтрувати книги або методички</h4>
            <button class="close"
                    type="button"
                    data-dismiss="modal"
                    aria-label="Close">
                <span class="modal-close-action"
                      aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <div class="col-md-2">
                    <select class="form-control" id="_book_year_select">
                        <option value="@DEFAULT_FILTER">Рік</option>
                        @foreach (var year in Model.Years)
                        {
                            <option value="@year">@year</option>
                        }
                        <option value="@DEFAULT_FILTER">Усі</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select class="form-control" id="_book_author_select">
                        <option value="@DEFAULT_FILTER">Автор</option>
                        @foreach (var author in Model.Authors)
                        {
                            <option value="@author">@author</option>
                        }
                        <option value="@DEFAULT_FILTER">Усі</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select class="form-control" id="_book_name_select">
                        <option value="@DEFAULT_FILTER">Назва</option>
                        @foreach (var name in Model.Names)
                        {
                            <option value="@name">@name</option>
                        }
                        <option value="@DEFAULT_FILTER">Усі</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-info"
                            id="_btn_book_srch_filter"
                            type="button">Фільтрувати</button>
                </div>
            </div>
            <p>* Після фільтрації нижче в таблиці буде відображено результат пошуку</p>
            <div id="_book_container_modal"></div>
        <div class="modal-footer">
            <button class="btn btn-secondary modal-close-action"
                    type="button" data-dismiss="modal">
                Закрити
            </button>
            <button class="btn btn-primary" type="button">Експорт</button>
        </div>
        </div>
    </div>
</div>