<!-- Частичное представление модального окна поиска публикаций -->
@model WebArchivProject.Models.SearchFilters.PostsComboFilters
@using static WebArchivProject.Helper.StringConstant

<div class="modal-dialog modal-lg modal-success" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Фільтрувати статті</h4>
            <button class="close"
                    type="button"
                    data-dismiss="modal"
                    aria-label="Close">
                <span class="modal-close-action"
                      aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" action="" method="post">
                <div class="form-group row">
                    <div class="col-md-2">
                        <select class="form-control" id="_post_year_select">
                            <option value="@DEFAULT_FILTER">Рік</option>
                            @foreach (var year in Model.Years)
                            {
                                <option value="@year">@year</option>
                            }
                            <option value="@DEFAULT_FILTER">Усі</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="_post_author_select">
                            <option value="@DEFAULT_FILTER">Автор</option>
                            @foreach (var author in Model.Authors)
                            {
                                <option value="@author">@author</option>
                            }
                            <option value="@DEFAULT_FILTER">Усі</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" id="_post_magazine_select">
                            <option value="@DEFAULT_FILTER">Журнал</option>
                            @foreach (var magazine in Model.Magazine)
                            {
                                <option value="@magazine">@magazine</option>
                            }
                            <option value="@DEFAULT_FILTER">Усі</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="_post_name_select">
                            <option value="@DEFAULT_FILTER">Назва</option>
                            @foreach (var name in Model.Names)
                            {
                                <option value="@name">@name</option>
                            }
                            <option value="@DEFAULT_FILTER">Усі</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info"
                                id="_btn_post_srch_filter"
                                type="button">Фільтрувати</button>
                    </div>
                </div>
            </form>
            <p>* Після фільтрації нижче в таблиці буде відображено результат пошуку</p>
            <div id="_post_container_modal"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary modal-close-action"
                    type="button" data-dismiss="modal">
                Закрити
            </button>
            <button class="btn btn-primary" type="button">Експорт</button>
        </div>
    </div>
</div>