<!-- Частичное представление таблицы тезисов -->
@model WebArchivProject.Models.VO.Paginator<WebArchivProject.Models.DTO.DtoSearchresultThesis>
@using static WebArchivProject.Extensions.StringExtensions
@using static WebArchivProject.Helper.StringConstant
@inject WebArchivProject.Contracts.IServUserSession _usrSess
@{
    Model.ForTable = THESIS;
    Model.ForContainer = ALL_CONTAINER;
}

<div class="fade-in">
    <table class="table table-responsive-sm table-sm">
        <thead>
            <tr>
                <th>№</th>
                <th>Автор</th>
                <th>Тезис</th>
                <th>Конференція</th>
                <th>Гео</th>
                <th>Рік</th>
                <th>Сторінок</th>
                <th>Інтервал</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var thesis in Model)
            {
                <tr id="@thesis.Id.ToNav(Model.ForTable)">
                    <td>@thesis.Id</td>
                    <td>
                        @foreach (var author in thesis.Authors)
                        {
                            @author <br />
                        }
                    </td>
                    <td>@thesis.Name</td>
                    <td>@thesis.ConferenceName</td>
                    <td>
                        @thesis.Location
                    </td>
                    <td>@thesis.Year</td>
                    <td>@thesis.PagesCount</td>
                    <td>@thesis.PagesInterval</td>
                    <td>
                        @await Html.PartialAsync("_UI_Button_DeleteItem", new WebArchivProject.Models.DTO.DtoButtonDeleteItem
                        {
                            DeletedItemId = thesis.Id,
                            ItemType = Model.ForTable,
                            Disabled = _usrSess.User.Id != thesis.OwnerId
                        })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @await Html.PartialAsync("_UI_Paginator_Block", Model)
</div>