<!-- Частичное представление таблицы с книгами -->
@model List<WebArchivProject.Models.DTO.DtoSearchresultBook>

<div>
    <h4>Каталог книжок</h4>
    <table class="table table-responsive-sm table-sm">
        <thead>
            <tr>
                <th>№</th>
                <th>Перший автор</th>
                <th>Інші автори</th>
                <th>Назва</th>
                <th>Рік</th>
                <th>Сторінок</th>
                <th>Тип</th>
                <th>Видавництво</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.AuthorFirst</td>
                    <td>
                        @if (book.AuthorsNext != null)
                        {
                            @foreach (var author in book.AuthorsNext)
                            {
                                @author<br/>
                            }
                        }
                    </td>
                    <td>@book.Name</td>
                    <td>@book.Year</td>
                    <td>@book.MaxPageCount</td>
                    <td>@book.Type</td>
                    <td>@book.IssuerLine</td>
                    <td class="">
                    <button class="btn btn-sm btn-block btn-outline-info">
                        Видалити
                    </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</div>
