<!-- Частичное представление таблицы с книгами -->
@model WebArchivProject.Models.VO.Paginator<WebArchivProject.Models.DTO.DtoSearchresultBook>
@using static WebArchivProject.Helper.StringConstant
@{ 
    Model.ForTable = BOOK;
    Model.ForContainer = ALL_CONTAINER;
}

<div class="fade-in">
    <table class="table table-responsive-sm table-sm">
        <thead>
            <tr>
                <th>№</th>
                <th>Перший автор</th>
                <th>Інші автори</th>
                <th>Назва</th>
                <th>Рік</th>
                <th>Сторінок</th>
                <th>Тип</th>
                <th>Видавництво</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.AuthorFirst</td>
                    <td>
                        @if (book.AuthorsNext != null)
                        {
                            @foreach (var author in book.AuthorsNext)
                            {
                                @author<br />
                            }
                        }
                    </td>
                    <td>@book.Name</td>
                    <td>@book.Year</td>
                    <td>@book.MaxPageCount</td>
                    <td>@book.Type</td>
                    <td>@book.IssuerLine</td>
                    <td class="">
                        <button class="btn btn-sm btn-block btn-outline-info">
                            Видалити
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @await Html.PartialAsync("_UI_Paginator_Block", Model)
</div>
