<!-- Частичное представление таблицы с книгами -->
@model WebArchivProject.Models.VO.Paginator<WebArchivProject.Models.DTO.DtoSearchresultBook>
@using static WebArchivProject.Extensions.StringExtensions
@using static WebArchivProject.Helper.StringConstant
@inject WebArchivProject.Contracts.IServUserSession _usrSess
@{ 
    Model.ForTable = BOOK;
    Model.ForContainer = ALL_CONTAINER;
}

<div class="fade-in">
    <table class="table table-responsive-sm table-sm">
        <thead>
            <tr>
                <th>№</th>
                <th>Перший автор</th>
                <th>Інші автори</th>
                <th>Назва</th>
                <th>Рік</th>
                <th>Сторінок</th>
                <th>Тип</th>
                <th>Видавництво</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr id="@book.Id.ToNav(Model.ForTable)">
                    <td>@book.Id</td>
                    <td>@book.AuthorFirst</td>
                    <td>
                        @if (book.AuthorsNext != null)
                        {
                            @foreach (var author in book.AuthorsNext)
                            {
                                @author<br />
                            }
                        }
                    </td>
                    <td>@book.Name</td>
                    <td>@book.Year</td>
                    <td>@book.MaxPageCount</td>
                    <td>@book.Type</td>
                    <td>@book.IssuerLine</td>
                    <td>
                        @await Html.PartialAsync("_UI_Button_DeleteItem", new WebArchivProject.Models.DTO.DtoButtonDeleteItem
                        {
                            DeletedItemId = book.Id,
                            ItemType = Model.ForTable,
                            Disabled = _usrSess.User.Id != book.OwnerId
                        })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @await Html.PartialAsync("_UI_Paginator_Block", Model)
</div>
