<!-- Частичное представление таблицы постов -->
@model WebArchivProject.Models.VO.Paginator<WebArchivProject.Models.DTO.DtoSearchresultPost>
@using static WebArchivProject.Helper.StringConstant
@{
    Model.ForTable = POST;
    Model.ForContainer = ALL_CONTAINER;
}

<div class="fade-in">
    <table class="table table-responsive-sm table-sm">
        <thead>
            <tr>
                <th>№</th>
                <th>Автор</th>
                <th>Назва статті</th>
                <th>Журнал</th>
                <th>Рік</th>
                <th>Том</th>
                <th>Сторінок</th>
                <th>Інтервал</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {
                <tr>
                    <td>@post.Id</td>
                    <td>
                        @foreach (var author in post.Authors)
                        {
                            @author<br />
                        }
                    </td>
                    <td>@post.Name</td>
                    <td>@post.Magazine</td>
                    <td>@post.Year</td>
                    <td>@post.TomName</td>
                    <td>@post.PagesCount</td>
                    <td>@post.PagesInterval</td>
                    <td>
                        <button class="btn btn-sm btn-block btn-outline-info">
                            Видалити
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @await Html.PartialAsync("_UI_Paginator_Block", Model)
</div>